/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;

}

header {
    background-color: cornflowerblue;
    color: white;
    padding: 10px 0;
    text-align: center;
}
header h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.container {
    width: 80%;
    height: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

h2 {
    margin-top: 0;
}

.product, .cart-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.product h3 {
    margin: 0;
    margin-top: 10px;
}

.product p, .cart-item p {
    margin: 10px 0;
}

.btn {
    padding: 10px 20px;
    background-color: #26aa45;
    color: white;
    border: 2px solid rgb(33, 141, 33);
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}

.btn.cancel-btn {
    background-color: #e43445;
    border: 1px solid rgb(150, 14, 14);
}

.btn:hover {
    background-color: #0e912b;
}

.btn.cancel-btn:hover {
    background-color: #c01b2b;
}

.btn:active {
    background-color: rgb(23, 114, 0);
}

.btn.cancel-btn:active {
    background-color: rgb(161, 0, 0);
}

img {
    cursor: pointer;
}

#foto1 {
    max-width: 150px;
    border-radius: 50px;
}

#foto2 {
    max-width: 150px;
    border-radius: 50px;
}

#grande {
    position: absolute;
    width: 500px;
    top: 170px;
    left: 28%;
    border-radius: 50px;
    z-index: 2;
    filter: brightness(100%);
}

#grande2 {
    position: absolute;
    width: 500px;
    height: 500px;
    bottom: 15%;
    left: 28%;
    border-radius: 50px;
}

footer {
    background-color: forestgreen;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}

.donation {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

.donation h2 {
    margin-top: 0;
}

.donation div {
    margin-top: 10px;
}

.donation input {
    padding: 5px;
    width: 80px;
    margin-right: 10px;
}

#qr-code {
    display: none;
    margin-top: 20px;
}

.li i {
    color: rgb(31, 145, 8);
}

.link {
    padding: 5px 10px;
    border-radius: 10px;
    background-color: blue;
}

.container a {
    color: white;
    cursor: pointer;
    text-decoration: none;
}